.storage {
	float: left;
	margin: 5px 5px 5px 5px;
	height: auto;
	min-height: 1px;
	padding: 10px 10px 10px 10px;
}

#hold-buttons {
	width: 100%;
}

#hold-gifs {
	width: 75%;
}

#hold-input {
	width: 19%;
}

.gif-button {
	margin: 5px 5px 5px 5px;
}

.gif-div {
	float: left;
	margin: 15px 15px 15px 15px;
}

.gif-rating {
	text-align: center;
}