.storage {
	border: 1px solid black;
	float: left;
	margin: 5px 5px 5px 5px;
	height: auto;
	min-height: 1px;
	padding: 5px 5px 5px 5px;
}

#hold-buttons {
	width: 97%;
}

#hold-gifs {
	width: 75%;
}

#hold-input {
	width: 20%;
}

.gif-button {
	margin: 5px 5px 5px 5px;
}