body {
	font-family: 'Merriweather', serif;
}

button {
	font-family: 'Merriweather', serif;
	font-size: 14px;
}

.storage {
	float: left;
	margin: 5px 5px 5px 5px;
	height: auto;
	min-height: 1px;
	padding: 10px 10px 10px 10px;
	font-size: 20px;
}

#hold-buttons {
	width: 100%;
}

#hold-gifs {
	width: 70%;
}

#hold-input {
	width: 25%;
}

.gif-button {
	margin: 5px 5px 5px 5px;
}

.gif-div {
	float: left;
	margin: 15px 15px 15px 15px;
}

.gif-rating {
	text-align: center;
}

#gif-input {
	width: 200px;
}